<p-tabs value="0" lazy>
    <p-tablist>
        <p-tab value="0">All members</p-tab>
        <p-tab value="1">Moderators</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">

            <span>{{ group.participants().length }} members</span>

            @for (participant of group.participants(); track participant.id) {
                <div class="hover member-list-item">
                    <app-avatar-badge [user]="participant.user" [displayOfflineBadge]="false" size="large" />
                    <div class="flex flex-col ms-2">
                        <span>{{ participant.user.username() }}</span>

                        <span class="text-sm">
                            @if (participant.role() === GroupRole.Owner) {
                                Group owner
                            } @else {
                                Added by {{ participant.addedBy.username() }}
                            }
                        </span>
                    </div>
                </div>
            }
        </p-tabpanel>
        <p-tabpanel value="1">

            <span>{{ moderators().length }} moderators</span>
            
            @for (moderator of moderators(); track moderator.id) {
                <div class="hover member-list-item">
                    <app-avatar-badge [user]="moderator.user" [displayOfflineBadge]="false" size="large" />
                    <div class="flex flex-col ms-2">
                        <span>{{ moderator.user.username() }}</span>
                        <span class="text-sm">Role - {{ moderator.role() }}</span>
                    </div>
                </div>
            }
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
