<div class="container max-w-xl mx-auto">
    <p-card>
        <span class="text-primary text-2xl mb-4 block">Account recovery</span>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
            <p-floatlabel class="w-full" variant="on">
                <input pInputText formControlName="email"
                       variant="outlined" type="email" id="email_input"
                       class="w-full"/>
                <label for="email_input">Email address</label>
            </p-floatlabel>

            <p-button styleClass="w-60" class="mx-auto" type="submit">
                <span class="text-xl">Reset your password</span>
            </p-button>
        </form>
    </p-card>
</div>
