<div class="container max-w-xl mx-auto">
    <p-card>
        <span class="text-primary text-2xl mb-4 block">Account recovery</span>

        <p-fluid>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
                <p-floatlabel variant="on">
                    <input pInputText formControlName="email"
                           variant="outlined" type="email" id="email_input"/>
                    <label for="email_input">
                        {{ 'forms.email' | translate }}
                    </label>
                </p-floatlabel>
                <div *ngIf="email?.invalid" class="-mt-4 invalid-text">
                    <small *ngIf="email?.hasError('required') && email?.dirty">
                        {{ 'forms.email_required' | translate }}
                    </small>
                    <small *ngIf="email?.hasError('email')">
                        {{ 'forms.email_invalid' | translate }}
                    </small>
                </div>

                <p-button styleClass="w-60" class="mx-auto" type="submit">
                    <span class="text-xl">{{ 'account.send_reset_link' | translate }}</span>
                </p-button>
            </form>
        </p-fluid>
    </p-card>
</div>
