.menu {
    display: flex;
    align-items: center;
    padding-inline-start: 9px;
    cursor: pointer;
    --status-badge-border: var(--p-content-hover-background);
}

.menu:hover, .menu:active {
    background-color: var(--p-content-border-color);
    --status-badge-border: var(--p-content-border-color);
}

.menu-item {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.status {
    padding-bottom: 4px;
    margin-inline-start: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline-end: 0.5rem;
    transition: 0.2s ease;
}

.username {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px;
}

.status-text {
    margin-top: -6px;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .status:not(.expanded) {
        opacity: 0;
    }
}
