<div *ngIf="authService.isLoggedIn(); else loggedOut"
    class="menu mx-1 mt-1 rounded-sm" pRipple
    (click)="status_menu.toggle($event)">

    <app-avatar-badge [user]="contactManager.localUser"/>

    <div class="status" [class.expanded]="sidebarExpanded()">
        <div class="text-lg self-baseline username">{{ authService.currentUser()?.username }}</div>
        <div class="text-muted-color text-sm self-baseline status-text">{{ statusText() }}</div>
    </div>
</div>

<p-popover #status_menu>
    <div class="flex flex-col text-sm primary-text -m-3">
        <div class="menu menu-item" (click)="setSelfStatus(UserStatus.Online)">
            <ng-icon name="matCircleRound" style="color: var(--success)" />
            <span>Online</span>
        </div>
        <div class="menu menu-item" (click)="setSelfStatus(UserStatus.Away)">
            <ng-icon name="matAccessTimeFilledRound" style="color: var(--warn)" />
            <span>Away</span>
        </div>
        <div class="menu menu-item" (click)="setSelfStatus(UserStatus.DoNotDisturb)">
            <ng-icon name="matDoNotDisturbOnRound" style="color: var(--error)" />
            <span>Do not disturb</span>
        </div>
        <div class="menu menu-item" (click)="setSelfStatus(UserStatus.Offline)">
            <ng-icon name="matCircleRound" style="color: var(--gray)" />
            <span>Offline</span>
        </div>
    </div>
</p-popover>

<ng-template #loggedOut>
    <ng-container *ngIf="authService.authenticationState() === AuthenticationState.Unknown; else notLoggedIn">
        <p class="ms-4">Loading...</p>
    </ng-container>
</ng-template>

<ng-template #notLoggedIn>
    <p class="ms-4">You are not logged in.</p>
</ng-template>
