<p-tabs value="0" scrollable lazy >
    <p-tablist>
        <p-tab value="0">{{ 'contacts_tabs.friends' | translate }}</p-tab>
        <p-tab value="1">{{ 'contacts_tabs.friend_requests' | translate }}</p-tab>
        <p-tab value="2">{{ 'contacts_tabs.add_friends' | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <app-friend-list />
        </p-tabpanel>
        <p-tabpanel value="1">
            <app-friend-requests />
        </p-tabpanel>
        <p-tabpanel value="2">
            <app-add-friend />
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
