<form (ngSubmit)="changeGroupName()">
    <p-float-label>
        <input id="change-group-name-entry" name="name"
               pInputText [(ngModel)]="name" maxlength="100" class="w-full">
        <label for="change-group-name-entry">
            {{ 'manage_group.name' | translate }}
        </label>
    </p-float-label>
</form>

<div class="flex gap-2 mt-2 justify-end">
    <p-button variant="text" (click)="cancel()">{{ 'dialog.cancel' | translate }}</p-button>
    <p-button [loading]="working()" (click)="changeGroupName()">
        {{ 'manage_group.change_name' | translate }}
    </p-button>
</div>