@let group = model();

<div class="group-name">
    {{ group.name() }}
</div>

<div class="ms-auto flex">
    <p-button variant="text" rounded="true" size="small">
        <ng-icon name="matCallRound" color="var(--text-primary)" />
    </p-button>

    @if (GroupRolePermissions.canAddNewMembers(group.localUser)) {
        <p-button variant="text" rounded="true" size="small"
            (onClick)="showAddFriendDialog()">
            <ng-icon name="matPersonAddAlt1Round" color="var(--text-primary)" />
        </p-button>
    }

    <p-button variant="text" rounded="true" size="small" (click)="manage.toggle($event)">
        <ng-icon name="matSettingsRound" color="var(--text-primary)" />
    </p-button>
</div>

<p-popover #manage>
    <div class="-m-3 flex flex-col">
        @let user = group.localUser;
        @let canChangeNameAndImage = GroupRolePermissions.canChangeGroupNameAndImage(user);
        @if (canChangeNameAndImage) {
            <div class="menu-item hover"
                (click)="showChangeGroupNameDialog()">
                <ng-icon name="matEditRound"/>
                {{ 'manage_group.name' | translate }}
            </div>
            <div class="menu-item hover -mb-3">
                <ng-icon name="matImageRound"/>
                {{ 'manage_group.image' | translate }}
            </div>

            <p-divider />
        }

        @let canAddMembers = GroupRolePermissions.canAddNewMembers(user);

        <div class="menu-item hover"
             [class.-mt-3]="canChangeNameAndImage"
             [class.-mb-3]="!canAddMembers"
            (click)="showGroupParticipantsDialog()">
            <ng-icon name="matPeopleRound"/>
            {{ 'manage_group.participants' | translate }}
        </div>

        @if (canAddMembers) {
            <div class="menu-item hover -mb-3"
                (click)="showAddFriendDialog()">
                <ng-icon name="matPersonAddAlt1Round"/>
                {{ 'manage_group.add_friends' | translate }}
            </div>
        }

        <p-divider />

        <div class="menu-item hover -mt-3">
            <ng-icon name="matExitToAppRound" color="var(--error)"/>
            {{ 'manage_group.leave' | translate }}
        </div>

        @if (GroupRolePermissions.canDeleteGroup(user)) {
            <div class="menu-item hover">
                <ng-icon name="matDeleteForeverRound" color="var(--error)"/>
                {{ 'manage_group.delete | translate }}
            </div>
        }
    </div>
</p-popover>
