.container {
    height: 65px;
    max-width: 350px;
    padding: 4px;
    display: grid;
    flex-shrink: 0;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.25rem;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto 1fr;
    align-content: center;
}
